Source: push-admin
Section: python
Priority: extra
Maintainer: Matthias Müller-Reineke <Matthias.Mueller-Reineke@grundvers.de>
Build-Depends: openssh-client, python, python-jinja2, python-paramiko, python-support, cdbs, debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: 

Package: push-admin
Architecture: all
Depends: ${python:Depends}, python-jinja2, python-paramiko, openssh-client
Description: Structured system management made simple
 Hier Text aus E-Mail an Craig einfuegen.
